.headerContainer {
  opacity: 0.9;
  margin-bottom: 1rem;
  color: white;
  background-color: #dc3545;
}

.titleHeader {
  display: block;
  font-size: 2em;
  margin: 0px;
  margin-block-start: 0.40em;
  margin-block-end: 0.40em;
  font-weight: bold;
}

.btnMenu {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.45rem;
  margin: 0 0.25rem;
  text-decoration:none;
}

.btnUserDetails {
  color: red;
  font-size: 1rem;
  padding: 0.45rem;
  margin: 0 0.25rem;
  text-decoration:none;
}

.btnMore{
  text-decoration:none;
}

.aboutContainer{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
}

.icon {
  margin-right: 0.5rem;
}
