.headerContainer{
    opacity: 0.9;
    margin-bottom: 1rem;
    color: white;
    background-color: #dc3545;
}

.titleHeader {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.icon {
    margin-right: 0.5rem;
}